.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj,
.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb,
.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v,
.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14 {
    visibility: hidden !important;
    height: 15px !important;
    width: 150px !important;
}

.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 100% !important;
}

.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 75% !important;
}

.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 50% !important;
}

.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 25% !important;
}

.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj::before,
.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb::before,
.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v::before,
.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14::before {
    visibility: visible !important;
    content: '+ Show media' !important;
}

.tt-textonly .r-1hwvwag,
.tt-textonly .r-jgbqyi,
.tt-textonly .r-1x2qdy1,
.tt-textonly .r-h7e6lq,
.tt-textonly .r-1bi8zh6 {
    display: none !important;
    flex-basis: 0px !important;
}

.tt-textonly.tt-grayscale-emoji .r-h9hxbl {
    filter: grayscale(100%);
}

@media (max-width: 768px) {
    .tt-textonly header>div>div {
        top: 0 !important;
        z-index: 99 !important;
        background-color: #fff !important;
        border-bottom-width: 1px !important;
        border-bottom-color: rgb(239, 243, 244) !important;
    }
    .tt-textonly header>div,
    .tt-textonly header>div>div,
    .tt-textonly header>div>div>div {
        width: 100% !important;
    }
    .tt-textonly header>div>div>div {
        flex-direction: row;
    }
    .tt-textonly header .css-1dbjc4n {
        flex-direction: row;
        width: fit-content;
        height: 30px !important;
        min-height: 30px !important;
        line-height: 30px !important;
        border-radius: 0px !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
    .tt-textonly header .css-1dbjc4n.r-usiww2 {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        flex-grow: 1 !important;
    }
    .tt-textonly header .r-rs99b7 {
        border: none !important;
    }
    .tt-textonly header h1 {
        display: none !important;
    }
    .tt-textonly header .r-xyw6el>div {
        width: 20px !important;
        margin-top: 5px !important;
    }
    .tt-textonly header>div>div>div>div.css-1dbjc4n.r-1awozwy.r-usiww2>div>div::after {
        content: '⚪' !important;
    }
    .tt-textonly header>div>div>div>div.css-1dbjc4n.r-1awozwy.r-usiww2>div>div>div {
        display: none !important;
    }
    .tt-textonly main {
        margin-top: 30px !important;
    }
    .tt-textonly main .r-1gn8etr {
        top: auto !important;
    }
    .tt-textonly .r-1ye8kvj {
        max-width: inherit !important;
    }
}