.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj,
.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb,
.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v,
.tt-textonly div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14 {
    visibility: hidden !important;
    height: 15px !important;
    width: 150px !important;
}

.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-100 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 100% !important;
}

.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-75 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 75% !important;
}

.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-50 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 50% !important;
}

.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj:hover,
.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb:hover,
.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v:hover,
.tt-textonly.tt-media-size-25 div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14:hover {
    visibility: visible !important;
    height: fit-content !important;
    width: 25% !important;
}

.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-1s367qj::before,
.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-1ssbvtb::before,
.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-19qsa7v::before,
.tt-textonly:not(.tt-media-size-0) div[aria-labelledby]:not([aria-labelledby=""]).r-1i71y14::before {
    visibility: visible !important;
    content: '+ Show media' !important;
}

.tt-textonly .r-1hwvwag,
.tt-textonly .r-jgbqyi,
.tt-textonly .r-1x2qdy1,
.tt-textonly .r-h7e6lq,
.tt-textonly .r-1bi8zh6 {
    display: none !important;
    flex-basis: 0px !important;
}

.tt-textonly.tt-grayscale-emoji .r-h9hxbl {
    filter: grayscale(100%);
}

@media (max-width: 768px) {
    .tt-textonly header {
        position: absolute !important;
        left: -60px !important;
        flex: unset !important;
    }
    .tt-textonly header:hover {
        left: 0 !important;
    }
    .tt-textonly .r-33ulu8 {
        margin: auto !important;
        width: 80% !important;
    }
    .tt-textonly header>div>.r-1pi2tsx {
        background-color: #fff !important;
    }
    .tt-textonly .r-xnswec,
    .tt-textonly .r-1upvrn0 {
        left: 0px !important;
    }
    .tt-textonly .r-jxzhtn {
        padding: 0 40px !important;
    }
    .tt-textonly #layers .r-aqfbo4 {
        left: 0px !important;
    }
}